<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thingbee_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppNoTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.thingbee_android.FakeCall"
            android:theme="@style/AppNoTheme"></activity>
        <activity android:name="com.example.thingbee_android.AddContract"
            android:theme="@style/AppTheme"/>
        <activity
            android:theme="@style/AppTheme"
            android:name="com.example.thingbee_android.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="com.example.thingbee_android.NewsActivity"></activity>
        <activity android:name="com.example.thingbee_android.MainActivity"
            android:theme="@style/AppNoTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.DIAL_PHONE"/>

</manifest>